.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

.golden-circle h4{
    color: #3f3f3d; /*#bedb00*/;
    font-weight: bold;
    font-size: 40px;
}

.golden-circle .subheading{
    color: #7fca0d;
    font-size: 20px;
}

h1 {
  color: #bedb00;
  font-weight: bold;
  font-size: 70px;
}

#geekweek {
  padding-top: 5%;
}

#geekweek-report {
  padding-top: 3%;
}

.card-row {
  padding-top: 2%;
}

.survey-responses {
  color: #3f3f3d;
  font-weight: bold;
  font-size: 29px;
  padding-top: 3%;
}

.report-subheading{
    color: #3f3f3d;
}

.report-section-title{
    color: #3f3f3d;
    font-weight: bold;
    padding-top: 2%;
    padding-bottom: 2%;
}

p {
    text-align: justify;
}
