ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 10px solid #1ebc8d;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.timeline h4{
    color: #3f3f3d; /*#bedb00*/;
    font-weight: bold;
    font-size: 40px;
}

.timeline .subheading{
    color: #7fca0d;
    font-size: 20px;
}

#day1 {
    padding-top: 5%;
}

#day2 {
    padding-top: 5%;
}
