.how-section1{
    padding-top: 5%;
}
.how-section1 h4{
    color: #3f3f3d; /*#bedb00*/;
    font-weight: bold;
    font-size: 40px;
}
.how-section1 .subheading{
    color: #7fca0d;
    font-size: 30px;
}
.how-section1 .row
{
    margin-top: 10%;
}
.how-img
{
    text-align: center;
}
.how-img img{
    width: 40%;
}
